// General
#app {
  @include breakpoint(mobileonly);
  @include reset;
  overflow-y: scroll;
  font-family: $font-family-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-primary;
  background-image: url(../src/assets/highway-gdb897aafa_1920.jpg);
  background-position: center;
  background-size: cover;
  img.logo_accueil,
  img.logo_about {
    min-height: 200px;
    max-height: 350px;
    width: 60%;
    @include breakpoint(tablet) {
      width: 45%;
    }
    @include breakpoint(laptop-desktop) {
      width: 25%;
    }
  }
}
// Page HomeView, AboutView
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.background2 {
  background: $background-gradient;
  background-position: center;
  background-size: cover;
}
// Page Accueil_Groupomania
.Bienvenue {
  padding-bottom: 130px;
  h1,
  h2 {
    border-radius: $border-radius;
    @include background-color($background-color: $color-secondary-transparent);
  }
  a {
    font-size: $font-H;
    color: white;
    &:hover {
      color: $color-secondary;
    }
  }
}
// Page AboutView
.about {
  padding-bottom: 130px;
  text-align: -webkit-center;
  h1,
  p {
    border-radius: $border-radius;
    @include background-color($background-color: $color-secondary-transparent);
  }
  h1 {
    margin-top: -50px;
    width: 45%;
  }
  p {
    width: 75%;
    font-size: $font-H;
  }
}
// Page SignupView et LoginView
.card.card-container {
  max-width: 350px !important;
  background-color: $color-secondary-transparent;
  margin: 10% auto;
  padding: 20px 25px 30px;
  border-radius: $border-radius;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  a {
    font-size: $font-P;
    color: white;
    &:hover {
      color: $color-primary;
    }
  }
}
.button,
.form-row {
  margin: 5px;
}
.button--disabled {
  background: white;
  color: $color-primary;
}
.button--disabled:hover {
  cursor: not-allowed;
  color: red;
}
// Page ProfilView
.titleProfil {
  background: $color-secondary !important;
}
.profilImg {
  max-height: 90px;
  border-radius: 45px;
}
.deleteAccount {
  color: white;
  background: red;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: $color-secondary-transparent;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
.form-column {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
    padding: 2px;
    font-size: $font-H;
  }
}
.buttonProfil {
  margin-top: 20px;
}
div.right > .button {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
