// General
#app {
  @include breakpoint(mobileonly);
  @include reset;
  overflow-y: scroll;
  font-family: $font-family-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-primary;
  background-image: url(../src/assets/highway-gdb897aafa_1920.jpg);
  background-position: center;
  background-size: cover;
  img.logo_accueil,
  img.logo_about {
    min-height: 200px;
    max-height: 350px;
    width: 60%;
    @include breakpoint(tablet) {
      width: 45%;
    }
    @include breakpoint(laptop-desktop) {
      width: 25%;
    }
  }
}
.button {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
// Page HomeView, AboutView
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.background2 {
  background: $background-gradient;
  background-position: center;
  background-size: cover;
}
// Page Accueil_Groupomania
.Bienvenue {
  padding-bottom: 130px;
  h1,
  h2 {
    border-radius: $border-radius;
    @include background-color($background-color: $color-secondary-transparent);
  }
  a {
    font-size: $font-H;
    color: white;
    &:hover {
      color: $color-secondary;
    }
  }
  h1 {
    @include breakpoint(mobileonly) {
      margin: 1% 10%;
    }
  }
}
