// colors extracted mockup
$color-primary: #122542;
$color-secondary: #ba4e55;
$color-secondary-transparent: #d65860e0;
$color-tertiary-light: #afafb0;

// background
$background-gradient: radial-gradient(#122542, #0000 150%);

// font family
$font-family-text: "Roboto", sans-serif;

// size
$font-title: 1.3em;
$font-H: 1.8em;
$font-P: 1em;

// Border-radius
$border-none: 0;
$border-radius: 20px;
