// Page AboutView
.about {
  padding-bottom: 130px;
  text-align: -webkit-center;
  h1,
  p {
    border-radius: $border-radius;
    @include background-color($background-color: $color-secondary-transparent);
  }
  h1 {
    margin-top: -50px;
    width: 45%;
    @include breakpoint(mobileonly) {
      width: 70%;
    }
    @include breakpoint(laptop-desktop) {
      width: 55%;
    }
  }
  p {
    padding: 10px;
    width: 75%;
    font-size: $font-H;
  }
}
