// Page ProfilView
.titleProfil {
  background: $color-secondary !important;
}
.profilImg {
  max-height: 90px;
  border-radius: 45px;
}
.deleteAccount {
  color: white;
  background: red;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: $color-secondary-transparent;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}
.form-column {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
    padding: 2px;
    font-size: $font-H;
  }
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
